@media only screen and (max-width: 992px) {
  html {
    font-size: 58%;
  }

  .header {
    border: none;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
  }

  .container-collapse,
  .categories,
  .container-col-1 {
    display: none;
  }

  .container-col-2 {
    width: 100%;
    margin: 0 auto;
  }

  .container {
    margin: 8rem auto;
  }

  /* menu mobile */

  .menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-mobile i {
    color: #ffffff;
  }

  .menu-burger {
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
  }

  .menu-line {
    width: 100%;
    height: 3px;
    background: #ffffff;
    position: relative;
  }

  .menu-line::after {
    content: "";
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8px;
  }

  .menu-line::before {
    content: "";
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8px;
  }

  .menu-line-close {
    width: 100%;
    height: 3px;
    background: transparent;
    position: relative;
  }

  .menu-line-close::after {
    content: "";
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
  }

  .menu-line-close::before {
    content: "";
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: rotate(-45deg);
  }

  /* menu mobile */

  /* shop items */

  /* shop items */
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 55.5%;
  }
}
