@media only screen and (max-width: 992px) {
  html {
    font-size: 58%;
  }

  .header {
    border: none;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
  }

  .container-collapse,
  .categories,
  .container-col-1 {
    display: none;
  }

  .container-col-2 {
    width: 100%;
    margin: 0 auto;
  }

  .container {
    margin: 8rem auto;
  }

  /* menu mobile */

  .menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-mobile i {
    color: #ffffff;
  }

  .menu-burger {
    width: 30px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
  }

  .menu-line {
    width: 100%;
    height: 3px;
    background: #ffffff;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .menu-line::after {
    content: "";
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 8px;
    transition: all 0.3s ease-in-out;
  }

  .menu-line::before {
    content: "";
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -8px;
    transition: all 0.3s ease-in-out;
  }

  .menu-line-close {
    width: 100%;
    height: 3px;
    background: transparent;
    position: relative;
    transition: all 0.3s ease-in-out;
  }

  .menu-line-close::after {
    content: "";
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
  }

  .menu-line-close::before {
    content: "";
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
  }

  /* menu mobile */
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 55.5%;
  }

  .modal {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
  }

  .col-2 {
    margin: 0;
  }

  .modal-flex {
    flex-direction: column;
    align-items: center;
  }

  .modal-close {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    padding-top: 20px;
  }

  .modal-arrow {
    visibility: visible;
  }
  .modal-button-cart button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .modal-button-details,
  .modal-close-icon,
  .modal-rating {
    display: none !important;
  }

  .modal-rating-mobile {
    display: block;
    color: #b4b4b4;
    font-size: 1.4rem;
  }

  .modal-rating-mobile i {
    color: #ff5a00;
    font-size: 1.2rem;
    order: 1;
  }
}
